@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;700&family=Ubuntu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: 0.2s;
}
body {
    background: url("assets 1/body-bg.png");
    background-size: 100% auto;
    font-family: 'Fira Sans Condensed', sans-serif;
    background-attachment: fixed;
}


/* Required common contents */


p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
}
.flex {
    display: flex;
    align-items: center;
}
h1{
    font-size: 2.5rem;
    font-weight: 500;
}
h2{
    font-size: 1.5rem;
    font-weight: 300;
}
h2 a{
    color: goldenrod;
}
h3{
    font-size: 1.5rem;
}


/* logo */


.site-logo img {
    width: 80px;
    height: 80px;
}
.site-logo {
    display: flex;
}
.site-logo p {
    margin-top: 25px;
    font-size: 25px;
    font-weight: 600;
    margin-left: 0px;
    color: rgb(241,194,6);
}
.site-logo p:hover {
    color: rgba(255, 217, 0, 0.816);
}
.site-logo img:hover {
   opacity: .8; 
} 


/* Navigation Bar Section */


#nav{
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: end;
}
.nav-links {
    flex-basis: 750px;
    margin-top: 20px;
}
#line-gap {
    margin-left: 30px;
    background-image: linear-gradient(to right, rgb(251, 69, 29), rgb(241, 170, 36));
    padding: 10px 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#line-gap:hover {
    background-image: linear-gradient(to right, rgb(251, 69, 29, 0.8), rgb(241, 170, 36, 0.8));
}
#line-gap a{
    color: white;
}
#gap {
    padding: 10px 10px;
}
#gap a {
    color: #252525;
}
#gap a:hover {
    background-color: #f0ab0a;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px 10px;    
}
nav{
    background-color: rgba(254, 227, 159,0.5);
    box-shadow: 1px 2px 4px gray;   
}
.main-nav {
    display: flex;
    justify-content: space-between;
}
.container {
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 20px;
}


/* Header Part */


.button {
    padding: 13px 20px;
    font-size: 15px;
    font-weight: 600;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: linear-gradient(to right bottom, rgb(241, 170, 36),rgb(251, 69, 29));
    margin-top: 15px;
    border-width: 0px;
    color: azure;
    cursor: pointer;
    transition: all 0.5s;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}
.button:hover {
    background-image: linear-gradient(to right bottom, rgba(241, 170, 36, 0.8),rgba(251, 69, 29, 0.8));
}
.button:hover span {
    padding-right: 20px;
    padding-left: 5px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
header {
    padding: 50px 20px 0;
}
.header-section {
    justify-content: center;
    gap: 50px;
    background-color: rgba(252, 252, 142, 0.671);
    border-radius: 10px;
    box-shadow: 1px 1px 4px gray;
}
.header-right img {
    width: 500px;
}
.header-left {
    max-width: 40vw;
}
.header-left h1 {
    margin-top: 25px;
}
.header-left h1 b {
    text-shadow: 2px 4px 10px rgb(0 0 0 / 68%);
    padding: 0rem 10px;
    color: white;
    background-color: #ec4e20;
    font-weight: 500;
}
.header-left h2 {
    margin-top: 10px;
}
.header-left #first {
    margin-top: 20px;
}
.header-left #second {
    margin-top: 20px;
}

/* WHAT IS BOOTCAMP?? SECTION */



.header-bootcamp {
    text-align: center;
    padding: 0 40px;
}
.header-bootcamp #note-bootcamp {
    margin-top: 30px;
}
#note-bootcamp{
    font-size: 1.1rem;
    text-align: justify;
}
#sec-btn {
    margin-left: 50px;
}
.what-is-bootcamp {
    padding: 80px 20px 0;
}
.header-bootcamp h1 {
    color: rgb(241,194,6);
    font-weight: 500;
    font-size: 2.2rem;
}

/* Coding Teaches You How To Think Section */


#sub-head-1 {
    color: rgb(241,194,6);
    font-weight: 500;
    font-size: 2.2rem;
}
.how-to-think {
    padding: 80px 20px 0;
}
.sub-header {
    text-align: center;
}


/* Features Section */


.features {
    padding: 4rem 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.feature-card {
    padding: 0rem 1rem;
    min-height: 200px;
    height: 100%;
    display: flex;
    /* list-style: none; */
    align-items: center;
    border-radius: 1rem;
    background: #ffffff;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}
.feature-card-image {
    margin: 1rem;
    height: 120px;
    width: 120px;
    flex-shrink: 0;
    background-color: darkblue;
}
.feature-card-image img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.feature-card-content {
    max-width: 340px;
    padding: 2rem 1rem;
}
.feature-card-content h3 {
    font-size: 1.4rem;
    color: #f0ab0a;
    font-weight: 450;
}
.feature-card-content p{
    color: #1d1414;
    font-size: 14px;
    margin-top: 5px;
}

/* Recall section */

.recall h5 i {
    margin: 0% 4px;
    border-radius: 50%;
    color: rgb(9, 255, 0);
}
.recall-warp {
    display: flex;
    padding: 0rem 1rem;
    min-height: 250px;
    /* height: 100%; */
    border-radius: 1rem;
    background: #ffffffdb;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 9px;
    gap: 100px;
    background-image: url("assets 1/recall-img.gif");
    background-repeat: no-repeat;
    background-size: 65% 500px;
    background-position: top 62% right 20%;
}
.recall h3 {
    font-size: 30px;
    word-spacing: 3px;
    font-weight: 500;
}
.recall h4 {
    font-size: 20px;
    font-weight: 450;
    margin-top: 10px;
    color: #f0ab0a;
}
.recall h5 {
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 5px;
}
.recall {
    margin: 20px 10px;
}
.recall-btn a {
    position: relative;
    top: 50%;
    left: 550px;
    background-image: linear-gradient(to right bottom, rgb(185, 190, 111), rgb(252, 173, 55));
    padding: 10px 30px;
    border-radius: 20px;
    color: #ffffff;
}


/* Program section */


.program-wrapper #kids-learn {
    text-align: center;
    padding: 80px 20px 0;
    color: rgb(241,194,6);
    font-weight: 500;
    font-size: 2.2rem;
}
/* .program-wrapper {
    text-align: center;
} */
.program-item {
    display: flex;
    padding: 2rem;
    border-radius: 1rem;
    background: rgba(244, 228, 109, 0.1);
    box-shadow: 10px 10px 40px rgba(198, 193, 193, 0.5);
    border-top: 1px solid rgba(128, 126, 126, 0.5);
    border-left: 1px solid rgba(129, 120, 120, 0.5);
    backdrop-filter: blur(5px);
    /* gap: 100px; */
    margin:2rem 0;
    align-items: center;
}
.program-image {
    height: 340px;
    width: 50%;
    border-radius: 1rem;
    /* background-color: #ffffff; */
    text-align: center;
}
.program-image img {
    border-radius: 1rem;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    
}
.program-content {
    padding: 0% 1rem;
    margin: 1rem 2rem;
    width: 50%;
}
.program-content h2 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2rem;
    color: #f0ab0a;
}
.program-content p {
    color: #1d1414;
    padding: 1rem 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    word-spacing: 3px;
}
.program-content a {
    padding: .7rem 1.2rem;
    background-color: #f0ab0a;
    border-radius: 20px;
    color: white;
}
.badge {
    margin-left: 20px;
    padding: 5px 10px;
    background-color: rgb(255, 106, 0);
    color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* Programming Language Section */

.program-lang-list {
    padding: 4rem 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.program-lang-item {
    width: 500px;
    list-style: none;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
    /* background-color: #ffffff; */
    background: rgba(244, 228, 109, 0.1);
    box-shadow: 10px 10px 40px rgba(198, 193, 193, 0.5);
    border-top: 1px solid rgba(128, 126, 126, 0.5);
    border-left: 1px solid rgba(129, 120, 120, 0.5);
    backdrop-filter: blur(5px);
}
.program-lang-image {
    height: 200px;
    width: auto;
    margin: 1rem 0;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 10px 10px 30px #252525,
                10px 10px 30px #ffffff;
}
.program-lang-image img {
    height: 100%;
    border-radius: 1rem;
    width: auto;
    max-width: 100%;
}
.program-lang-list h3 {
    color: #fecb02;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 10px 0;
}
.program-lang-list p {
    color: #1d1414;
    font-size: 18px;
    padding: 1.5rem 0;
    word-spacing: 2px;
    text-align: justify;
}
.lang-btn {
    padding: 5px 10px;
    background-color: #fecc0225;
    border-radius: 10px;
    margin-top: 0;
    margin-top: 2rem;
    color: #f98335;
    box-shadow: 4px 5px 30px #252525,
                -4px 5px 20px #ffffff;
    /* box-shadow: 10px 10px 40px rgba(198, 193, 193, 0.699); */
    border-top: .5px solid rgba(128, 126, 126, 0.5);
    border-left: .5px solid rgba(129, 120, 120, 0.5);
    backdrop-filter: blur(3px);
}
.neumerf {
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 3px 0px;
    margin-bottom: 10px;
}
.program-wrapper #kids-learn-1 {
    text-align: center;
    padding: 30px 0 0 0;
    color: rgb(241,194,6);
    font-weight: 500;
    font-size: 2.2rem;
}


.faculty-list {
    background-color: transparent;
    /* width: 300px;
    height: 300px; */
    /* perspective: 1000px; */
    margin: 0px 8%;
    display: flex;
    gap: 20px;
    height: 100%;
    justify-content: space-evenly;
}
.faculty-name {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 1px 4px 8px 0 rgba(0,0,0,0.7);
}

/* .faculty-image {
    margin: 1rem;
    /* width: 120px; 
    flex-shrink: 0;
} */
.faculty-image img {
    width: auto;
    height: 100%;
    border-radius: 20%;
    max-width: 100%;
    transition: 1s;
    opacity: .8;
    background-color: transparent;
    transform-style: preserve-3d;
    box-shadow: -10px 10px 30px #4e4a4a,
    -10px 10px 30px #ffffff;
}
.faculty-image img:hover {
    transform: rotateY(180deg);
    opacity: 1;
}
#faculty-head {
    text-align: center;
    padding: 40px 20px 0;
    margin-bottom: 30px;
    color: rgb(241,194,6);
    font-weight: 500;
    font-size: 2.2rem;
}
.faculty-image img .faculty-content {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    backface-visibility: hidden;
}
.faculty-content h2 {
    justify-content: space-evenly;
    color: #f0ab0a;
    text-align: center;
    margin-top: 10px;
}
.faculty-content p {
    color: #1a3d71;
    font-size: 1.1rem;
    justify-content: space-evenly;
}

/* Testimonial section */





/* World map section */

.world-map {
    margin-top: 50px;
}
.map h2 {
    text-align: center;
    font-size: 2.2rem;
    color: #f0ab0a;
    padding: 50px 20px 0;
}
.map-img img {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}










/* Footer Section */

.footer {
    margin-top: 4rem;
    padding: 30px 0 10px 0;
    background-color: #f5eec9;
}
.footer-content {
    display: flex;
    justify-content: space-evenly;
}
.footer-part {
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
#footer-logo {
    align-items: center;
}
.foot-design p {
    justify-content: start;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #454343;
}
.foot-design h2 {
    font-weight: 500;
    margin-left: 0;
    color: #ecad1a;
    padding-top: 0;
}
#footer-logo img {
    width: 200px;
    height: 200px;
}
.footer-nav {
    margin-top: 50px;
}
.footer-nav #link-nav-foot {
    padding: 10px 0;
}
.footer-nav #link-nav-foot a{
    color: #5f6311;
}
.footer-nav #link-nav-foot a:hover {
    color: orangered;
}

.footer-contact h3 {
    margin-bottom: 5px;
    padding: 10px 0;
    color: orangered;
}
#contact-foot p {
    padding-top: 5px;
    font-weight: 500;
    font-size: 15px;
    color: #454343;
}
.footer-social-links h3 {
    margin-bottom: 5px;
    padding: 10px 0;
    color: orangered;
}
.footer-social-links li {
    padding-top: 10px;
    color: #454343;
    display: flex;
    gap: 4px;
}
.footer-social-links .fa-facebook {
    margin-top: 2px;
    color: rgb(85,26,139);
}
.fa-instagram {
    margin-top: 2px;
    color: rgb(85,26,139);
}
.fa-linkedin {
    margin-top: 2px;
    color: rgb(85,26,139);
}
.fa-twitter {
    margin-top: 2px;
    color: rgb(85,26,139);
}
.footer-social-links li p {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
}

/* Sub-footer section */

.sub {
    padding: 20px 0;
}
.sub-footer {
    background-color: #ebdc92;
}
.sub p{
    text-align: center;
    font-size: 15px;
    color: #454343;
}
.sub p a {
    color: #ecad1a;
}


